<html>
  <body>
    <section id="banner" class="flex-container">
      <div
        id="carousel-example-generic"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner" role="listbox">
          <div class="active fade-slide">
            <img
              src="./assets/images/Banner/bannerCarousel1.png"
              alt="Slide 1"
            />
          </div>
          <div class="fade-slide">
            <img
              src="./assets/images/Banner/bannerCarousel2.jpg"
              alt="Slide 2"
            />
            <div class="fade-overlay"></div>
          </div>
          <div class="fade-slide">
            <img
              src="./assets/images/Banner/bannerCarousel3.png"
              alt="Slide 3"
            />
            <div class="fade-overlay"></div>
          </div>
        </div>
        <div class="fade-caption">
          <div id="subtitle-text">Reliable. Experienced. Professional</div>
          <div id="biggest-text">
            LET’S TURN YOUR DREAM HOME INTO A REALITY.
          </div>

          <div class="button-container">
            <div
              class="text-white text-xl font-bold font-roboto uppercase tracking-wide"
            >
              Get Started
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="../assets/js/banner.js"></script>
  </body>
</html>
