<html>
    <body>
        <section id="cta">
						<!-- <div class="inner">
							<header>
								<h2>Request a quote</h2>
								 <p>Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p> 
							</header>
							<ul class="actions stacked">
								<li><a href="https://www.instagram.com/ccameron797/" class="button fit primary">Here</a></li>
								 <li><a href="#" class="button fit">Learn More</a></li>
							</ul>
						</div> -->

            <div
                class="contact-form-body"
            >
            <!-- Header Component-->
                <div id="contact-header-component">
                    <div class="header">
                        <div>Have a Question? Let Us Know!</div>
                    </div>
                    <div class="subtitle">
                        <div>Questions about our services? Contact us now!</div>
                    </div>
                </div>

					<form action="">
							<!-- Form -->
                        <div
                        id="form-container"
                        >
							<!-- Row 1-->
							<div class="Row">
								<!-- Name -->
								<div>
									<div>Name</div>
									<input
									type="text"
									required
									/>
								</div>

								<!-- Email -->
								<div>
								  <div>Email</div>
								<input
									type="email"
									required
									/>
								</div>
							</div>

							<!-- Row 2 -->
							<div id="row-phone-label">
								<div>Phone number</div>
									<input
									type="text"
									id="number-field"
									required
									/>
							</div>

							<!-- Row 3 -->
							<div class="Col"
							>
								<div>Message</div>
									<input
									type="text"
									id="message-input"
									required
									/>
								</div>
							</div>

                            <div
                                id="button-main-container"
                            >
                                <input type="submit" class="button-container" value="Send Message">
							</div>
						</div>
					</form>
				</div>
		</section>
    </body>
</html>