<html>
    <section id="two" class="wrapper alt style2"></section>
        <section id="roofRepair" class="spotlight">
          <div class="image">
            <img src="assets/images/Services/pic01.png" alt="" />
          </div>
          <div class="content">
            <h2>Roof Repair</h2>
            <br />
            <p>
              Displaying proficiency and attention to detail, I tackle roofing
              projects with care, methodically placing shingles to establish
              robust protection against diverse weather conditions.
            </p>
          </div>
        </section>
        <section id="plumbing" class="spotlight">
          <div class="image">
            <img src="assets/images/Services/pic02.png" alt="" />
          </div>
          <div class="content">
            <h2>Plumbing</h2>
            <br />
            <p>
              Proficiently handling water pipe installations, I ensure seamless
              plumbing systems, expertly connecting pipes to guarantee efficient
              and reliable water flow throughout every structure.
            </p>
          </div>
        </section>
        <section id="structural" class="spotlight">
          <div class="image">
            <img src="assets/images/Services/pic03.png" alt="" />
          </div>
          <div class="content">
            <h2>Timber Framing</h2>
            <p>
              Expertly crafted timber framing, combining traditional
              craftsmanship with precision to create a timeless and sturdy
              structure.
            </p>
          </div>
        </section>
        <section class="spotlight">
          <div class="image">
            <img src="assets/images/Services/pic04.png" alt="" />
          </div>
          <div class="content">
            <h2>Recent Project</h2>
            <p>Island Lodge - Lake Clark, Alaska</p>
          </div>
        </section>
      </section>
</html>