<!-- <div id="services-body-component">
  <div class="children">
    <div class="image-overlay-container"> -->
<!-- Image Container -->
<!-- <div id="image-container">
        <img
          src="./assets/images/Services/servicesAddition.png"
          alt="Service Image"
          class="flex-container"
        />
      </div> -->

<!-- Text Overlay -->
<!--  <div class="overlay-text">
        <div class="title">ADDITION AND ALTERATION</div>
        <div class="subtext">
          We audit and offer solutions to commercial establishments.
        </div>
      </div> -->
<!--     </div>
  </div>
</div>  -->

<html>
  <body>
    <section>
      <div id="services">
        <!-- Header -->
        <div id="services-header-component">
          <div>Services We Offer</div>
        </div>
        <!-- Body -->
        <div id="services-body-component">
          <div class="children">
            <!-- Image Container -->
            <div id="image-container">
              <img
                src="./assets/images/Services/servicesAddition.png"
                alt="Service Image"
                class="flex-container"
              />
            </div>

            <!-- Text Overlay -->
            <div class="overlay-text">
              <div class="title">ADDITION AND ALTERATION</div>
              <div class="subtext">
                We audit and offer solutions to commercial establishments.
              </div>
            </div>

            <!-- Service Description -->
            <!--    <div class="children-description"> -->
            <!-- Title -->
            <!--  <div class="title">ADDITION AND ALTERATION</div> -->

            <!-- Subtext -->
            <!--   <div
                class="subtext self-stretch text-center text-neutral-700 text-base font-normal font-['Poppins'] leading-tight"
              >
                We audit and offer solutions to commercial establishments.
              </div> -->

            <!-- CTA -->
            <!-- <div class="cta"></div> -->
            <!-- </div> -->
          </div>
        </div>
      </div>
    </section>
    <script src="../assets/js/servicesV2.js"></script>
  </body>
</html>
