<html>
  <body>
    <section>
      <div id="services">
        <!-- Header -->
        <div id="services-header-component">
          <div>Services We Offer</div>
        </div>
        <!-- Body -->
        <div id="services-body-component">
          <div class="children">
            <!-- Image Container -->
            <div id="image-container">
              <img
                src="./assets/images/Services/servicesAddition.png"
                alt="Service Image"
                class="flex-container"
              />
            </div>

            <!-- Service Description -->
            <div class="children-description">
              <!-- Title -->
              <div class="title">ADDITION AND ALTERATION</div>

              <!-- Subtext -->
              <div
                class="subtext self-stretch text-center text-neutral-700 text-base font-normal font-['Poppins'] leading-tight"
              >
                We audit and offer solutions to commercial establishments.
              </div>

              <!-- CTA -->
              <div class="cta"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="../assets/js/services.js"></script>
  </body>
</html>
