.contact-form-body {
    width: 100%; /* OK */
    height: 100%; /* OK */
    background: radial-gradient(circle, #f3ecdc, #c7d8c1); /* OK */
    font-family: "Roboto", sans-serif; /* OK */
    color: #4a5568; /* OK */
    display: flex; /* OK */
    flex-direction: column; /* OK */
    align-items: center; /* OK */
  }

  #contact-header-component {
    text-align: center; /* OK */
    align-self: stretch;
    margin-top: 80px; /* OK */
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  #contact-header-component .header {
    font-size: 4rem; /* OK */
    font-weight: bold; /* OK */
  }
  
  #contact-header-component .subtitle {
    color: #588157; /* OK */
    font-size: 17px; /* OK */
  }
  
  #form-container {
    display: flex; /* OK */
    flex-direction: column; /* OK */
    align-self: stretch; /* OK */
    gap: 15px; /* OK */
    margin-left: 0px;
    margin-right: 0px;
    color: #010B2F; /* OK */
    font-size: 14px; /* OK */
    font-weight: 400; /* OK */
    font-family: 'Roboto', sans-serif;
  }
  
  /* Media query for responsive design */
  @media only screen and (min-width: 768px) {
    #button-main-container .button-container {
      width: 50%; /* OK */
      
    }
  }
  
  @media only screen and (max-width: 767px) {
    #form-container {
        margin-left: 30px; /* OK */
        margin-right: 30px; /* OK */
    }
  
    #button-main-container .button-container {
      width: 50%; /* OK */
    }
  }
  
  .Row {
    display: inline-flex; /* OK */
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
  }
  
  .Col {
    display: flex; /* OK */
    flex-direction: column; /* OK */
  }
  
  #message-label-text {
    margin-bottom: 15px !important; /* OK */
  }

  #row-phone-label {
    align-items: flex-end;  
  }
  
  #number-field {  /* OK */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1px;
    align-items: center;
  }


  
  #message-input {
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    font-size: 16px;
    border: 1px solid #ccc; 
    outline: none; 
    line-height: normal;
    appearance: none;
    padding-bottom: 100px;
    white-space: pre-line !important;
  }
  
  /* BUTTON */
  #button-main-container {
    font-size: 1.25rem; /* OK */
    font-weight: 700; /* OK */
    text-transform: uppercase; /* OK */
    color: white !important; /* OK */
    font-family: "Roboto", sans-serif; /* OK */
    justify-content: center;
    align-items: center;
    display: inline-flex;
    width: 100%; /* OK */
  }
  
  #button-main-container .button-container {
/*     height: 75px; /* OK */
    width: 100%; /* OK */
    background-color: #772f1a; /* OK */
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    transition: background-color 0.3s ease; /* OK */
    border-radius: 10px; /* OK */
    height: 80px;
  }
  
  #button-main-container .button-container:hover {
    background: linear-gradient(to right, #588157, #2c5234);
    color: white !important; /* OK */
  }
  
  #btn {
    appearance: none; 
    border: none; 
    padding: 0; 
    font-family: inherit; 
    font-size: inherit;
    color: inherit;
  }