/* display: none !important; */

/* MOBILE FIRST APPROACH */

/*A. For Mobile Phones: */
#services {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  max-width: 100%;
  padding: 20px;
  background: radial-gradient(circle, #f3ecdc, #c7d8c1);
}

#services-header-component {
  width: 100%;
  height: 61px;
  font-family: "Gotham", sans-serif; /* Use Gotham font-family, fallback to sans-serif if unavailable */
  font-size: 24px; /* Font size */
  font-weight: 700; /* Font weight (bold) */
  line-height: 22.97px; /* Line height */
  text-align: left;
  color: #344e41; /* Text alignment */
  display: flex;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-end; /* Push inner div to the bottom */
}

#services-body-component {
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: "Gotham", sans-serif; /* Font family */
  font-size: 18px !important; /* Font size */
  font-weight: 700; /* Font weight (bold) */
  line-height: 25.12px; /* Line height */
  text-align: center;
  color: #772f1a;
  display: flex;
  flex-direction: column;
}

.children {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px !important;
}

#image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 389.15px !important;
  overflow: hidden;
}

#image-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}

#image-container:hover img {
  transform: scale(1.1);
  transition: transform 0.5s;
  opacity: 0.8;
}

.children .children-description {
  width: 100%;
  height: 133.12px;
  padding: 15px 15px 20px 15px;
  gap: 6px;
  opacity: 0px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;

  /* Prevent text from overflowing outside the div */
  overflow-wrap: break-word; /* Break long words if necessary */
  word-wrap: break-word; /* Fallback for older browsers */
  white-space: normal; /* Prevent text from not wrapping */
  overflow: hidden; /* Hide any content that might overflow */
  text-overflow: ellipsis; /* Optionally adds ellipsis (...) for overflow text */
}

.subtext {
  /* font-family: 'Poppins', sans-serif; */ /* Use Poppins font, with a fallback to sans-serif */
  font-size: 15px; /* Set the font size to 16px */
  font-weight: 400; /* Set the font weight to normal (400) */
  line-height: 20.41px; /* Set the line height to 20.41px */
  text-align: center; /* Align the text to the center */
  color: #454545;
  font-family: "Roboto", sans-serif;
}

.cta {
  font-family: "Roboto", sans-serif;
  font-size: 14.13px; /* Font size */
  font-weight: 700; /* Font weight (bold) */
  line-height: 20.41px; /* Line height */
  text-align: center;
  color: #344e41;
  text-decoration: underline;
}

#calendlyModal button {
  position: absolute;
  top: 10px;
  right: 5px;
  background: none;
  border: none;
  font-size: 10px;
  z-index: 2000;
  pointer-events: auto;
  cursor: pointer;
  /* padding-bottom: 50px; */
  margin-bottom: 50px;
}

#calendly-embed {
  margin-top: 50px;
  width: 100%;
  height: 100%;
}

.glass-effect {
  width: 80%;
  height: 80%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 15px; /* Rounded corners */
  backdrop-filter: blur(10px); /* Apply blur to the background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border to accentuate */
  color: white; /* Text color */
  text-align: center;
  font-family: Arial, sans-serif;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  overflow: hidden;
  color: black;
}

/*B. For Tablet Portrait */
/* @media (min-width: 600px) {
} */

/*C. For Tablet Landscape */
/* @media (min-width: 900px) {

} */

/* For Desktop: */
@media only screen and (min-width: 768px) {
  #services {
    width: 100%;
    height: 100%;

    /* Flexbox Alignment */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* justify-start */
    align-items: flex-start; /* items-start */
    padding: 40px;
  }

  #services-header-component {
    font-family: "Gotham", sans-serif; /* Font family */
    font-size: 64px; /* Font size */
    font-weight: 700; /* Font weight (bold) */
    line-height: 61.25px; /* Line height */
    text-align: left;
    height: 99px !important;
    display: flex !important;
    flex-direction: column !important; /* Stack children vertically */
    justify-content: flex-end !important; /* Push inner div to the bottom */
  }

  #services-body-component {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: "Gotham", sans-serif; /* Font family */
    font-size: 16px !important; /* Font size */
    font-weight: 700; /* Font weight (bold) */
    line-height: 25.12px; /* Line height */
    text-align: center;
    color: #772f1a;
  }

  .children {
    gap: 20px; /* Space between items, only applicable in flex/grid containers */
    border-radius: 5px !important;
  }

  #image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 385px;
    width: 100%;
    height: 389.15px;
    overflow: hidden;
  }

  #image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .children .children-description {
    width: 100%;
    padding: 15px 15px 20px 15px;
    opacity: 0px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;

    /* Prevent text from overflowing outside the div */
    overflow-wrap: break-word; /* Break long words if necessary */
    word-wrap: break-word; /* Fallback for older browsers */
    white-space: normal; /* Prevent text from not wrapping */
    overflow: hidden; /* Hide any content that might overflow */
    text-overflow: ellipsis; /* Optionally adds ellipsis (...) for overflow text */
  }

  .subtext {
    font-size: 14px; /* Set the font size to 16px */
    font-weight: 400; /* Set the font weight to normal (400) */
    line-height: 20.41px; /* Set the line height to 20.41px */
    text-align: center; /* Align the text to the center */
    color: #454545;
    font-family: "Roboto", sans-serif;
  }

  .cta {
    font-family: "Archivo", sans-serif; /* Font family */
    font-size: 14.13px; /* Font size */
    font-weight: 700; /* Font weight (bold) */
    line-height: 20.41px; /* Line height */
    text-align: center;
    color: #344e41;
    text-decoration: underline;
  }

  #calendly-embed {
    margin-top: 0px;
    padding-top: 0px !important;
    width: 100%;
    height: 100%;
  }

  #calendlyModal button {
    position: absolute;
    top: 10px;
    right: 25px;
    background: none;
    border: none;
    font-size: 10px;
    z-index: 2000;
    pointer-events: auto;
    cursor: pointer;
    margin-bottom: 0px !important;
  }
}
